{% extends 'base_generic.html' %}


{% block title %}Home{% endblock title %}



{% block header %}
    {% include 'includes/navbar.html' %}                        
{% endblock header %}


{% block content %}



<!---->
<div class="row row-cols-1 row-cols-md-2 g-4">
    
    <div class="col">
        <div class="card mb-3" style="width: 38rem;">
            <img src="../../static/img/img_usuarios.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <a class="btn btn-secondary btn-lg" href="{% url 'users_app:administrar-usuarios' %}" role="button">Administrar Usuarios</a>
              <p class="card-text">En este apartado podras gestionar los usuarios</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-3" style="width: 32rem;">
            <img src="../../static/img/img_recursos.png" class="card-img-top" alt="...">
            <div class="card-body">
                <a class="btn btn-secondary btn-lg" href="{% url 'resources_app:administrar-recursos' %}" role="button">Administrar Recursos</a>
              <p class="card-text">En este apartado podras gestionar los recursos</p>
            </div>
          </div>
    </div>
  </div>
<!---->






{% endblock content %}
    
    