{% extends 'base_generic.html' %}


{% block title %}Administrar Usuarios{% endblock title %}


{% block header %}
    {% include 'includes/navbar.html' %}                        
{% endblock header %}

{% block content %}

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex" method="GET">
        <input class="form-control me-2" id="kword" name="kword" type="search" placeholder="Buscar Codigo Recurso" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <a class="btn btn-outline-success" href="{% url 'resources_app:registrar-recurso' %}" role="button">Nuevo Registro</a>
    </div>
</nav>

<table class="table">
    <thead class="table-secondary">
        <tr>
            <th scope="col">Categoria</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col" style="text-align:Left;">Opciones</th>
          </tr>
    </thead>
    <tbody>
                
        {% for recurso in  recursos %}
        <tr>
            <td scope="row">{{ recurso.categoria        }}</th>
            <td scope="row">{{ recurso.codigo           }}</th>
            <td scope="row">{{ recurso.nombre           }}</td>             
            {% if recurso.id_user_asignado %}
            <td scope="row" style="text-align:left;">
              <a class="btn btn-outline-success" href="{% url 'resources_app:detalle-asignacion-recurso' pk=recurso.id %}">Ver Detalle Asignacion</a>
            </td> 
            {% else %}
            <td scope="row" style="text-align:left;">
              <a class="btn btn-outline-success" href="{% url 'resources_app:asignar-recurso' pk=recurso.id%}" role="button">Asignar</a>              
            </td>              
            {% endif %}                    

        </tr>
        {% endfor %}                    
 
    </tbody>
  </table>

{% endblock content %}
    
    