{% extends 'base_generic.html' %}


{% block title %}Asignar Recurso{% endblock title %}


{% block header %}
    {% include 'includes/navbar.html' %}                        
{% endblock header %}

{% block content %}

<form class="row g-3" method="post">
  {% csrf_token %}
  <div class="card text-center">
    <div class="card-header">
      Asignar Recurso Codigo : {{objeto.codigo}}
    </div>
    <div class="card-body">    
      <h5 class="card-text">{{objeto.nombre}}</h5>
      <p class="card-text">{{objeto.descripcion}}</p>
    </div>

    {{form.id_user_asignado}}  
    
      
  </div>
  <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </div>
</form>

{% endblock content %}
    
    