{% extends 'base_generic.html' %}


{% block title %}Detalle Asignacion{% endblock title %}


{% block header %}
    {% include 'includes/navbar.html' %}                        
{% endblock header %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
    Detalle Asignacion
  </div>
  <div class="card-body">
    <h5 class="card-title">{{objeto.nombre}}</h5>
    <p class="card-text">{{objeto.descripcion}}</p>
    <p class="card-text">Asignado a : {{objeto.id_user_asignado}}</p>    
  
 </div>
 <div class="card-footer">
    <a href="{% url 'resources_app:administrar-recursos' %}" class="btn btn-primary">Volver</a>
    <a href="{% url 'resources_app:quitar-asignacion-recurso' pk=objeto.id %}" class="btn btn-primary">Quitar Asignacion</a>
  </div>

</div>

{% endblock content %}
    
    