{% extends 'base_generic.html' %}


{% block title %}User Register{% endblock title %}



{% block header %}
    {% include 'includes/navbar.html' %}                        
{% endblock header %}
    

{% block content %}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Registrar Recursos</h1>
                    </div>
                    <form class="row g-3" method="post">
                        {% csrf_token %}
                        
                        {{form.categoria}}
                        {{form.codigo}}
                        {{form.nombre}}
                        {{form.descripcion}}
                        
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                      </form>
                    <hr>                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    
    