<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home_app:home-page' %}">Home</a>
    <a class="navbar-brand">Administrador : {{user.get_full_name}}</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Opciones de Aministrador</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home_app:home-page' %}">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'users_app:user-logout' %}">Cerrar Sesion</a>
          </li>
            
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<br><br><br><br>