{% extends 'base_generic.html' %}


{% block title %}Administrar Usuarios{% endblock title %}


{% block header %}
    {% include 'includes/navbar.html' %}                        
{% endblock header %}

{% block content %}

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex" method="GET">
        <input class="form-control me-2" id="kword" name="kword" type="search" placeholder="Buscar empleado" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <a class="btn btn-outline-success" href="{% url 'users_app:user-register' %}" role="button">Nuevo Registro</a>
    </div>
  </nav>

<table class="table">
    <thead class="table-secondary">
        <tr>
            <th scope="col">Numero Identificacion</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col" style="text-align:center;">Opciones</th>
          </tr>
    </thead>
    <tbody>
                
        {% for usuario in  usuarios %}
        <tr>
            <th scope="row">{{ usuario.id_user      }}</th>
            <td scope="row">{{ usuario.name         }}</td>
            <td scope="row">{{ usuario.last_name    }}</td>
            <td scope="row" style="text-align:center;">
                <a class="btn btn-outline-success" href="{% url 'users_app:ver-recursos-asignados' id_user=usuario.id %}" role="button">Ver recursos asignados</a>
            </td>
        </tr>
        {% endfor %}                    
 
    </tbody>
  </table>



{% endblock content %}
    
    