{% extends 'base_generic.html' %}


{% block title %}Login{% endblock title %}


{% block content %}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Ingresar al sistema</h1>
                    </div>
                    <form class="row g-3" method="post">
                        {% csrf_token %}
                         
                        <div class="row g-3">                          
                            <div class="col-12">                                
                                {{form.id_user}}
                                {% if form.id_user.errors %}
                                    <div class="alert-danger">
                                         <strong>{{ form.id_user.errors }}</strong>
                                    </div>
                                {% endif %}
                                                       
                            </div>

                            <div class="col-12">
                                {{form.password}}
                                {% if form.password.errors %}
                                    <div class="alert-danger">
                                         <strong>{{ form.password.errors }}</strong>
                                    </div>
                                {% endif %}

                            </div>

                        </div>

                        <div class="d-grid gap-2">
                          <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                      </form>
                    <hr>                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    
    