{% extends 'base_generic.html' %}


{% block title %}Administrar Usuarios{% endblock title %}


{% block header %}
    {% include 'includes/navbar.html' %}                        
{% endblock header %}

{% block content %}


<div class="card text-center">
    <div class="card-header">
      Detalle Asignacion
    </div>
    <div class="card-body">

      <table class="table">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Categoria</th>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col" style="text-align:center;">Opciones</th>
              </tr>
        </thead>
        <tbody>
                    
            {% for recurso in  recursos %}
            <tr>
                <th scope="row">{{ recurso.categoria      }}</th>
                <td scope="row">{{ recurso.codigo         }}</td>
                <td scope="row">{{ recurso.nombre    }}</td>
                <td scope="row" style="text-align:center;">
                    <a class="btn btn-outline-success" href="{% url 'resources_app:detalle-asignacion-recurso' pk=recurso.id %}" role="button">Ver Detalle Asignacion</a>
                </td>
            </tr>
            {% endfor %}                    
     
        </tbody>
      </table>

   </div>
   <div class="card-footer">
      <a href="{% url 'users_app:administrar-usuarios' %}" class="btn btn-primary">Volver</a>
    </div>
  
</div>



{% endblock content %}
    
    